{{ 'custom-theme.css' | asset_url | stylesheet_tag }}

<div class="topbar">
 <div class="topbar-left">
  <a href="mailto:customercare@matkatus.com">
    <i class="fa-solid fa-envelope"></i>
    customercare@matkatus.com
  </a>

  <a href="tel:+919500076418">
    <i class="fa-solid fa-phone"></i>
    +91 95000 76418
  </a>
</div>

 <div class="topbar-right">
  <a href="https://instagram.com" target="_blank">
    <i class="fa-brands fa-instagram"></i>
  </a>

  <a href="https://facebook.com" target="_blank">
    <i class="fa-brands fa-facebook-f"></i>
  </a>

  <a href="https://youtube.com" target="_blank">
    <i class="fa-brands fa-youtube"></i>
  </a>

  <a href="https://twitter.com" target="_blank">
    <i class="fa-brands fa-x-twitter"></i>
  </a>

  <a href="https://pinterest.com" target="_blank">
    <i class="fa-brands fa-pinterest-p"></i>
  </a>
</div>

</div>

